@{
    ViewData["Title"] = "Enter";
}
<div class="text-center">
    <h2 class="display-4">Вход в приложение</h2>
</div>
<form method="post" class="text-center">
    <div class="row">
        <div class="col-12">Логин:</div>
        <div class="col-12"><input type="text" name="ClientLogin" /></div>
    </div>
    <div class="row">
        <div class="col-12">Пароль:</div>
        <div class="col-12"><input type="password" name="ClientPassword" /></div>
    </div>
    <br />
    <div class="row">
        <div class="col-12"><input type="submit" value="Вход" class="btn btn-primary" /></div>
        <div class="col-12"> <a asp-action="Register">Зарегистрироваться</a></div>
    </div>
</form>